{% extends 'base.html' %}
{% block head %}
    <style>
        form {
            display: flex;
            flex-wrap: wrap; /* Allow form elements to wrap to the next line */
            align-items: center;
            gap: 10px;
        }
        .form-group {
            display: flex;
            align-items: center;
        }
        .form-group label {
            margin-right: 5px; /* Add spacing between label and input */
        }
        input[type="text"] {
            width: 200px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block content %}
  <h1>Category List</h1>
  <form method="get">
    {% for field in filter.form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Filter</button>
</form>
  <table class="styled-table">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Edit</th>
    </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.title }}</td>
            <td>{{ category.type }}</td>
            <td><a href="{% url 'edit_category' category.pk %}">Edit</a></td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
