{% extends 'base.html' %}
{% block head %}
    <style>
        form {
            display: flex;
            flex-wrap: wrap; /* Allow form elements to wrap to the next line */
            align-items: center;
            gap: 10px;
        }
        .form-group {
            display: flex;
            align-items: center;
        }
        .form-group label {
            margin-right: 5px; /* Add spacing between label and input */
        }
        input[type="text"] {
            width: 200px;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Transaction List</h1>
        <form method="get">
            {% for field in filter.form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
        <table class="styled-table">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Category</th>
                <th>Who</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.category.title }}</td>
                    <td>{{ transaction.who.username }}</td>
                    <td>{{ transaction.account.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.date }}</td>
                    <td><a href="{% url 'edit_transaction' transaction.pk %}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if transactions.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ transactions.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current-page">
                    Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
                </span>
                {% if transactions.has_next %}
                    <a href="?page={{ transactions.next_page_number }}">next</a>
                    <a href="?page={{ transactions.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock %} 